<div class="form-container"
     *ngIf="!submitted ;else thankForm">
  <div class="title">
    Gửi lời chúc đến cô Dâu và chú rể
  </div>
  <!-- <div class="sub-title">
    Hãy để lại thông tin của bạn, điều đó có thể giúp chúng mình có thể chuẩn bị bữa tiệc được tốt nhất.
  </div> -->
  <form [formGroup]="formGroup"
        (ngSubmit)="submitForm()">
    <div class="form-row">
      <div class="input-data">
        <input type="text"
               formControlName="Name">
        <div class="underline"></div>
        <label for="">Tên của bạn</label>
      </div>
      <div class="input-data input-radio">
        <div class="radio-container tooltip">
          <input type="radio"
                 id="FromCD"
                 formControlName="From"
                 hidden
                 value="CD">
          <label for="FromCD">
            <i class="ico ico-bride"></i>
            <i class="ico ico-bride checked"></i>
            <span class="tooltiptext">Bạn Cô Dâu</span>
          </label>
        </div>
        <div class="radio-container tooltip">
          <input type="radio"
                 id="FromCR"
                 formControlName="From"
                 hidden
                 value="CR">
          <label for="FromCR">
            <i class="ico ico-groom"></i>
            <i class="ico ico-groom checked"></i>
            <span class="tooltiptext">Bạn Chú Rể</span>
          </label>
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="input-data checkbox">
        <input type="checkbox"
               formControlName="Yes">
        <div class="underline"></div>
        <label for="">Bạn sẽ đến</label>
      </div>
      <div class="input-data input-radio">
        <div class="radio-container tooltip">
          <input type="radio"
                 id="Quality1"
                 formControlName="Quality"
                 hidden
                 value="1">
          <label for="Quality1">
            <i class="ico ico-heart"></i>
            <i class="ico ico-heart-fill checked"></i>
            <span class="tooltiptext">Mình tôi</span>
          </label>
        </div>
        <div class="radio-container tooltip">
          <input type="radio"
                 id="Quality2"
                 formControlName="Quality"
                 hidden
                 value="2">
          <label for="Quality2">
            <i class="ico ico-heart-plus"></i>
            <i class="ico ico-heart-plus-fill checked"></i>
            <span class="tooltiptext">+ My love</span>
          </label>
        </div>
        <div class="radio-container tooltip">
          <input type="radio"
                 id="Quality3"
                 formControlName="Quality"
                 hidden
                 value="3">
          <label for="Quality3">
            <i class="ico ico-heart-family"></i>
            <i class="ico ico-group-heart-fill checked"></i>
            <span class="tooltiptext">+ Gia đình nhỏ </span>
          </label>
        </div>

      </div>
    </div>
    <div class="form-row">
      <div class="input-data textarea">
        <textarea rows="8"
                  formControlName="Note"
                  hidden
                  cols="80"
                  ></textarea>
        <br />
        <div class="underline"></div>
        <label for="">Lời nhắn riêng cho cô dâu chú rể:</label>
        <br />
      </div>
    </div>

    <div class="sub-title sub-2">
      Buổi tiệc thật sự trọn vẹn nếu có sự góp mặt của Bạn.
      Khoảnh khắc này sẽ được lưu lại mãi cùng hạnh phúc của cô Dâu và chú Rể.
    </div>

    <div class="sub-title message-error" *ngIf="submitting && this.formGroup.invalid">
      Bạn ơi, quên điền tên của bạn rồi kìa 😅!
    </div>
    <div class="button-form">
      <button type="submit"
              [disabled]="submitting && this.formGroup.invalid">
        Submit
      </button>
    </div>
  </form>
</div>
<ng-template #thankForm>
  <div class="form-container"
       *ngIf="submitted">
    <div class="title">
      💕💕❤️💕💕
    </div>
    <div class="sub-title">
      Lời nhắn yêu thương của bạn đã được gửi đến cô dâu và chú rể !
    </div>
  </div>
</ng-template>
