@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?bbrcwv');
  src:  url('fonts/icomoon.eot?bbrcwv#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?bbrcwv') format('truetype'),
    url('fonts/icomoon.woff?bbrcwv') format('woff'),
    url('fonts/icomoon.svg?bbrcwv#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="ico-"], [class*=" ico-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ico-calendar-2:before {
  content: "\e9c3";
}
.ico-accommodation:before {
  content: "\e900";
}
.ico-arrow-left:before {
  content: "\e905";
}
.ico-arrow-right:before {
  content: "\e906";
}
.ico-bubble-spl:before {
  content: "\e90f";
}
.ico-calendar:before {
  content: "\e910";
}
.ico-camera:before {
  content: "\e912";
}
.ico-check:before {
  content: "\e916";
}
.ico-check-badge:before {
  content: "\e917";
}
.ico-check-circle:before {
  content: "\e918";
}
.ico-clock:before {
  content: "\e91c";
}
.ico-close:before {
  content: "\e91f";
}
.ico-map-pin:before {
  content: "\e94e";
}
.ico-message-board-2:before {
  content: "\e951";
}
.ico-message-out:before {
  content: "\e952";
}
.ico-profile-img-favor:before {
  content: "\e965";
}
.ico-notification:before {
  content: "\e995";
}
.ico-clear:before {
  content: "\e9a5";
}
.ico-photo-video-solid:before {
  content: "\e901";
}
.ico-map-marker-alt-solid:before {
  content: "\e902";
}
.ico-hand-holding-heart-solid:before {
  content: "\e903";
}
.ico-circle_heart:before {
  content: "\e904";
}
.ico-heart-family:before {
  content: "\e907";
}
.ico-heart-plus:before {
  content: "\e908";
}
.ico-heart:before {
  content: "\e909";
}
.ico-heart-plus-fill:before {
  content: "\e90a";
}
.ico-group-heart-fill:before {
  content: "\e90b";
}
.ico-heart-fill:before {
  content: "\e90c";
}
.ico-bride:before {
  content: "\e90d";
}
.ico-groom:before {
  content: "\e90e";
}
