$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "fonts" !default;

$ico-calendar-2: "\e9c3";
$ico-accommodation: "\e900";
$ico-arrow-left: "\e905";
$ico-arrow-right: "\e906";
$ico-bubble-spl: "\e90f";
$ico-calendar: "\e910";
$ico-camera: "\e912";
$ico-check: "\e916";
$ico-check-badge: "\e917";
$ico-check-circle: "\e918";
$ico-clock: "\e91c";
$ico-close: "\e91f";
$ico-map-pin: "\e94e";
$ico-message-board-2: "\e951";
$ico-message-out: "\e952";
$ico-profile-img-favor: "\e965";
$ico-notification: "\e995";
$ico-clear: "\e9a5";

