<div class="count-down-timer">
  <p>Countdown to {{ targetTime | date : 'dd MMM YYYY - HH:mm' }}</p>
  <div class="wrapper">
    <div class="description">
      <p>Days</p>
      <p>Hours</p>
      <p>Minutes</p>
      <p>Seconds</p>
    </div>
    <div class="times">
      <p>{{days | number: '2.0-3' }}</p>
      <p>{{hours | number :'2.0-3'}}</p>
      <p>{{minutes | number : '2.0-3'}}</p>
      <p>{{seconds| number :'2.0-3'}}</p>
    </div>
  </div>
</div>

<section class="location-container">
  <div class="location-info">
    <div class="loaction-name">
      <div>{{configApp.location}}</div>
      <div>{{configApp.address}}</div>
    </div>
    <a target="_blank" [href]="configApp.googleMapUrl">
      <img src="assets/LocationMap.png"
      width="200px"
      height="200px">
    </a>

  </div>
</section>

<section class="dress-code"
         *ngIf="configApp.dressCode && configApp.dressCode.length">
  <div>Dress Code</div>
  <div *ngFor="let code of configApp.dressCode"
       class="dresscode-item"
       [style]="{'background-color' :code}">
  </div>
</section>
