<div class="moment">Hãy cùng tham dự khoảnh khắc trọng đại của chúng mình!</div>
<div class="count-down-timer">
  <p>Countdown to {{ targetTime | date : 'HH:mm - dd MMM YYYY' }}</p>
  <div class="wrapper">
    <div class="description">
      <p>Days</p>
      <p>Hours</p>
      <p>Minutes</p>
      <p>Seconds</p>
    </div>
    <div class="times">
      <p>{{days | number: '2.0-3' }}</p>
      <p>{{hours | number :'2.0-3'}}</p>
      <p>{{minutes | number : '2.0-3'}}</p>
      <p>{{seconds| number :'2.0-3'}}</p>
    </div>
  </div>
</div>

<section class="location-container">
  <div class="location-info">
    <a target="_blank"
       [href]="configApp.googleMapUrl"
       class="location-name">
      <div class="name">{{configApp.location}}</div>
      <div class="address">{{configApp.address}}
        <span>
          <img src="assets/icon-google-map.webp"
               width="24">
        </span>
      </div>

    </a>
    <a target="_blank"
       [href]="configApp.googleMapUrl"
       class="location-image">
      <img src="assets/party.jpg"
           width="300px"
           height="200px">
    </a>
    <div class="dress-code"
         *ngIf="configApp.dressCode && configApp.dressCode.length">
      <div>Dress code</div>
      <div *ngFor="let code of configApp.dressCode"
           class="dresscode-item"
           [style]="{'background-color' :code}">
      </div>
    </div>
  </div>


  <div class="timeline"
       *ngIf="configApp.timeLineImage">
    <img [src]="configApp.timeLineImage"
         width="300px">
  </div>
</section>

<section class="note">
  <div class="text-note">
    Lưu ý nhỏ để quẫy đám cưới thật vui:
    <br>
    * Vì sảnh tiệc ngoài trời, đôi khi có gió lớn, bạn nhớ chọn trang phục phù hợp nhé!
    <br>
    * Có thể gửi xe ô tô tại bảo tàng Mỹ thuật cách khách sạn 300m.</div>
</section>
