@use '../../mixin.scss' as mixin;

.location-container {
  font-weight: bold;
  font-size: 24px;
  .location-info {
    margin: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    text-align: center;
    align-items: center;

    @include mixin.responsive(MD) {
      flex-direction: row;
      text-align: start;
    }
  }
}

.count-down-timer {
  box-shadow: 2px 6px 9px 2px rgb(0 0 0 / 20%);
  text-align: center;
  background-color: #BF1725;
  font-weight: bold;
  max-width: 400px;
  margin: 20px auto;
  color: #fff;
  border-radius: 6px;
  padding: 10px;

  >p {
    margin: 5px 0 15px 0;
  }

  .wrapper {

    .description,
    .times {
      display: grid;
      grid-template-columns: repeat(4, calc(25% - 8px));
      grid-column-gap: 10px;
    }

    .description {
      >p {
        margin: 0;
        font-size: 20px;
      }
    }

    .times {
      p {
        letter-spacing: -5px;
        position: relative;
        margin: 0;
        font-size: 40px;

        ::ng-deep img {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 30px;
          display: block;
          height: 30px;
        }
      }
    }
  }
}

@media screen and (max-width: 430px) {
  .count-down-timer {
    margin: 20px;
  }
}
