@use '../../mixin.scss' as mixin;

:host {
  font-family: 'Montserrat', sans-serif;
  white-space: 1px;
  .moment{
    font-size: 16px;
    color: #741411;
    text-align: center;
    font-weight: bold;
    padding: 0 10px;
    font-style: italic;
  }
  .location-container {
    font-weight: bold;
    font-size: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    a{
      text-decoration: unset;
      color: inherit;
    }

    .location-info {
      margin: 20px;
      display: flex;
      flex-direction: column;
      gap: 20px;
      justify-content: center;
      text-align: center;
      align-items: center;

      .location-name{
        line-height: 24px;
        .name{
          color: #741411;
          font-size: 24px;
          margin-bottom: 10px;
        }
        .address{
          font-size: 14px;
          >span{
            position: relative;
            width: 30px;
            >img{
              position: absolute;
            }
          }
        }
      }
      .location-image{
        position: relative;
        .hint-location{
          position: absolute;
        }
      }


      @include mixin.responsive(MD) {
        // flex-direction: row;
        text-align: start;
      }
    }

    .dress-code {
      max-width: 400px;
      margin: auto;
      display: flex;
      flex-direction: row;
      gap: 20px;
      justify-content: center;
      align-items: center;
      font-size: 15px;

      .dresscode-item {
        height: 50px;
        width: 50px;
        border: 1px solid #fff;
        border-radius: 50px;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
      }
    }
    .timeline{
      img{
        display: block;
        margin: auto;
      }
    }
    @include mixin.responsive(MD) {
      flex-direction: row;
    }
  }

  .count-down-timer {
    box-shadow: 2px 6px 9px 2px rgb(0 0 0 / 20%);
    text-align: center;
    background-color: #741411;
    font-weight: bold;
    max-width: 400px;
    margin: 20px auto;
    color: #fff;
    border-radius: 6px;
    padding: 10px;

    >p {
      margin: 5px 0 15px 0;
    }

    .wrapper {

      .description,
      .times {
        display: grid;
        grid-template-columns: repeat(4, calc(25% - 8px));
        grid-column-gap: 10px;
      }

      .description {
        font-weight: normal;
        >p {
          margin: 0;
          font-size: 14px;
        }
      }

      .times {
        p {
          position: relative;
          margin: 0;
          font-size: 40px;

          ::ng-deep img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 30px;
            display: block;
            height: 30px;
          }
        }
      }
    }
  }

  @media screen and (max-width: 430px) {
    .count-down-timer {
      margin: 20px;
    }
  }
}
