<section class="header-layout"
         #yesIdo>
  <div class="info-page">
    <h2 class="title-page">{{configApp.titlePage}}</h2>
    <h1 class="name-and-name">
      <span class="name1">
        {{configApp.nameOfCR}}
      </span>
      <span class="and">
        {{configApp.nameAndOr}}
      </span>
      <span class="name2">
        {{configApp.nameOfCD}}
      </span>
    </h1>
    <h3 class="date-time">{{configApp.targeDate | date: 'dd.MM.yyyy'}}</h3>
  </div>
  <audio #audio
         hidden
         autoplay
         loop>
    <source [src]="configApp.audioUrl"
            type="audio/mpeg">
  </audio>
  <div class="play-audio"
       [ngClass]="audio.paused ? 'paused' : 'play'"
       (click)="playAudio()">
    <i class="ico"
       [ngClass]="audio.paused ? 'ico-music-note-off' : 'ico-heart-fill'"></i>
  </div>

  <div class="image"
       [style.background-image]='"url(\"" + bannerCover + "\")"'>
    <!-- <img [src]="configApp.bannerImage"> -->
  </div>

  <div class="confetti">
    <ng-container *ngFor="let dummy of ' '.repeat(20).split('')">
      <div class="confetti-piece"></div>
    </ng-container>
  </div>

  <div class="controller-group">
    <div class="button"
         (click)="scrollTo(form)">
      <i class="ico ico-circle_heart"></i>
    </div>
    <div class="button"
         (click)="scrollTo(location)">
      <i class="ico ico-map-pin"></i>
    </div>
    <div class="button"
         (click)="scrollTo(stories)">
      <i class="ico ico-photo-video-solid"></i>
    </div>
  </div>
</section>
<section #summaryInfo>
  <app-summary-info></app-summary-info>
</section>
<section #location>
  <app-location></app-location>
</section>
<section #stories
         class="galary">
  <app-slider></app-slider>
</section>
<section #form>
  <app-form-submit></app-form-submit>
</section>
