@use '../mixin.scss' as mixin;

.header-layout {
  position: relative;
  display: flex;
  justify-self: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  background-color: var(--bg-page);
  color: var(--color-primary);
  overflow: hidden;

  h1,
  h2,
  h3,
  h4 {
    margin-block-start: 0.5rem;
    margin-block-end: 0.5rem;
  }

  .image {
    z-index: 0;
    position: absolute;
    bottom: 0;
    width: 100vw;
    height: 70vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
  }

  .info-page {
    font-family: 'Dancing Script', cursive;

    z-index: 100;
    position: relative;
    display: flex;
    justify-self: center;
    align-items: center;
    flex-direction: column;
  }

  .title-page {
    font-size: 32px;
  }

  .name-and-name {
    font-size: 60px;
    font-weight: bold;
  }

  .controller-group {
    background-color: white;
    border-radius: 20px;
    padding: 10px;
    position: fixed;
    width: 100%;
    max-width: 500px;
    bottom: 0;
    z-index: 100;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    .button {
      display: flex;
      align-items: center;
      justify-content: center;

      i {
        font-size: 32px;
        color: linear-gradient(red, yellow);
      }
    }

    @include mixin.responsive(MD) {
      width: 64px;
      flex-direction: column;
      bottom: 50%;
      right: 10px;
      height: 250px;
    }
  }
}

// @keyframes boxShadow {
//   0% {
//     box-shadow: 0 0 10px red, 0 0 10px red, 0 0 10px red;
//   }

//   25% {
//     box-shadow: 0 0 10px red, 0 0 20px red, 0 0 40px red;
//   }

//   100% {
//     box-shadow: 0 0 10px red, 0 0 30px red, 0 0 40px red;
//   }
// }

.galary {
  max-width: 1400px;
  margin: auto;
}
