<section class="header-layout"
         #yesIdo>
  <div class="info-page">
    <h2 class="title-page">{{configApp.titlePage}}</h2>
    <h1 class="name-and-name">
      <span class="name1">
        {{configApp.nameOfCR}}
      </span>
      <span class="and">
        &
      </span>
      <span class="name2">
        {{configApp.nameOfCD}}
      </span>
    </h1>
    <h3>{{configApp.targeDate | date: 'dd MMM yyyy'}}</h3>
    <h4>{{configApp.location}}</h4>
    <h4>{{configApp.address}}</h4>
  </div>

  <div class="image">
    <img [src]="configApp.bannerImage">
  </div>

  <div class="confetti">
    <ng-container *ngFor="let dummy of ' '.repeat(20).split('')">
      <div class="confetti-piece"></div>
    </ng-container>
  </div>

  <div class="controller-group">
    <div class="button"
         (click)="scrollTo(location)">
      <i class="ico ico-circle_heart"></i>
    </div>
    <div class="button"
         (click)="scrollTo(location)">
      <i class="ico ico-map-pin"></i>
    </div>
    <div class="button"
         (click)="scrollTo(stories)">
      <i class="ico ico-profile-img-favor"></i>
    </div>
  </div>
</section>
<section #location>
  <app-location></app-location>
</section>
<section #stories
         class="galary">
  <app-slider></app-slider>
</section>
<section>
  <app-form-submit></app-form-submit>
</section>
