<div class="header-layout">
  <h2>Title Page</h2>
  <h1>Name and Name</h1>
  <h3>Date/Month/Year</h3>
  <h4>Location,Location,Location</h4>
  <div class="image">
    <img src="assets/Title.png">
  </div>
</div>
<section class="galary">
  <div class="card">
    <div *ngIf="images" class="grid" style="max-width: 800px;">
        <div *ngFor="let image of images; let index = index" class="col-3" key="index">
            <img [src]="image.thumbnailImageSrc" [alt]="image.alt" style="cursor: pointer" (click)="imageClick(index)" />
        </div>
    </div>
    <p-galleria
        [value]="images"
        [(visible)]="displayCustom"
        [(activeIndex)]="activeIndex"
        [responsiveOptions]="responsiveOptions"
        [containerStyle]="{ 'max-width': '850px' }"
        [numVisible]="7"
        [circular]="true"
        [fullScreen]="true"
        [showItemNavigators]="true"
        [showThumbnails]="false"
    >
        <ng-template pTemplate="item" let-item>
            <img [src]="item.itemImageSrc" style="width: 100%; display: block;" />
        </ng-template>
    </p-galleria>
</div>
</section>
