@use '../../mixin.scss' as mixin;
.list-img-container {
  padding: 30px 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;

  .wrapper-img {
    position: relative;
    cursor: pointer;

    img {
      object-fit: cover;
      width: 100%;
    }
  }

  @include mixin.responsive(MD){
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
}
