@use '../../mixin.scss' as mixin;

.container-summary {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  max-width: 1400px;
  margin: auto;
  padding: 30px 20px;

  .item {
    display: flex;
    flex-direction: column;
    min-height: 300px;
    gap: 10px;

    .text {
      font-family: 'Dancing Script', cursive;
      font-size: 18px;
      padding-left: 10px;

      .name {
        font-size: 26px;
        color: #741411;

        @include mixin.responsive(MD) {
          font-size: 40px;
        }
      }
    }

    .image {
      height: 100%;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      border: 5px solid white;
      border-radius: 20px;
      box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    }

    @include mixin.responsive(MD) {
      min-height: 550px;
    }
  }
}

.my-stories-container {
  position: relative;

  .text {
    position: relative;
    max-width: 1400px;
    font-size: 12px;
    line-height: 1.5em;
    z-index: 10;
    padding: 20px;
    margin: 10px;
    background: rgba(255, 255, 255, 0.90);
    border-radius: 5px;
    white-space: pre-line;
    &::before{
      content: '✨';
      color: #741411;
      font-size: 40px;
      position: absolute;
      font-family: 'Rouge Script', cursive;
      top: -30px;
      left: -20px;
    }
  }

  @include mixin.responsive(MD) {
    font-size: 1rem;
    margin-bottom: 100px;

    .text {
      position: absolute;
      max-width: 999px;
      font-size: 16px;
      width: 100%;
      z-index: 10;
      bottom: -60px;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}
