<div class="container-summary">
  <div class="item bride">
    <div class="text">
      <span>Cô dâu</span>
      <br>
      <span class="name">Tuyết Nhung</span>
    </div>
    <div class="image"
         style="background-image: url('https://dangmixx.s3.ap-southeast-1.amazonaws.com/wedding/Wedding%2B(29-1).jpg');">
    </div>
  </div>
  <div class="item groom">
    <div class="image"
         style="background-image: url('https://dangmixx.s3.ap-southeast-1.amazonaws.com/wedding/Wedding+(34).jpg');">
    </div>
    <div class="text">
      <span>Chú rể</span>
      <br>
      <span class="name">Quốc Toàn</span>
    </div>
  </div>
</div>
<div class="my-stories-container">
  <img src="https://dangmixx.s3.ap-southeast-1.amazonaws.com/wedding/Wedding+(11).jpg"
       width="100%">
  <div class="text">
    6 năm-một hành trinh không quá dài, nhưng đủ để chúng mình cùng nhau trải qua tất cả những cung bậc cảm xúc.
    <br>
    Em và anh đã cùng nhau trưởng thành, cùng nhau lớn lên, cùng nhau rèn giũa để trở thành phiên bản tôt nhất của chính
    mình. Và đến một ngày, chúng minh dành cho nhau phiên bản đẹp đẽ ấy, để cùng nhau bước sang một chương mới, viết
    tiếp câu chuyện tình yêu tuyệt vời.
    <br>
    Chúng minh đã quyết định chính thức về chung môt nhà, đi chung một con đường. Chúng mình đã chờ đợi suốt 6 năm cho
    khoảnh khắc thiêng liêng này, và chúng mình đã sẵn sàng sánh bước cùng nhau về sau mãi mãi.
  </div>
</div>
