<div class="container-summary">
  <div class="item bride">
    <div class="text">
      <span>Cô dâu</span>
      <br>
      <span class="name">Tuyết Nhung</span>
    </div>
    <div class="image"
         style="background-image: url('https://dangmixx.s3.ap-southeast-1.amazonaws.com/wedding/Wedding%2B(29-1).jpg');">
    </div>
  </div>
  <div class="item groom">
    <div class="image"
         style="background-image: url('https://dangmixx.s3.ap-southeast-1.amazonaws.com/wedding/Wedding+(34).jpg');">
    </div>
    <div class="text">
      <span>Chú rể</span>
      <br>
      <span class="name">Quốc Toàn</span>
    </div>
  </div>
</div>
